<a href="https://colab.research.google.com/github/arata-7/Python-programming-course-Tokyo-university/blob/main/colab/2/2-2_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-2. リスト (list)

複数のデータを要素としてまとめて取り扱うデータとして、リストとタプルについて説明します。

参考

- https://docs.python.org/ja/3/tutorial/introduction.html#lists
- https://docs.python.org/ja/3/tutorial/datastructures.html#tuples-and-sequences

文字列を構成する要素は文字のみでしたが、**リスト**では構成する要素としてあらゆる型のデータを指定できます。
他のプログラミング言語では、リストに相当するものとして**配列**（もしくはアレイ）やベクターなどがあります。

リストを作成するには、リストを構成する要素をコンマで区切り全体をかぎ括弧 `[...]` で囲みます。  

以下のセルでは数値を要素とするリストを作成して、変数に代入しています。
さらに、文字列と同様に組み込み関数 `type` を用いて、変数の値がリストであることを確認しています。

In [2]:
numbers = [0, 10, 20, 30, 40, 50]
numbers

[0, 10, 20, 30, 40, 50]

In [3]:
type(numbers)

list

リストのデータ型は **`list`** です。
（なお、後で見るように、`list` は他のデータをリストに変換する関数としても用いられます。）

次に文字列を構成要素とするリストを作成してみます。

In [ ]:
fruits = ['apple', 'banana', 'chelly']
fruits

リストの要素としてあらゆる型のデータを指定でき、それらは混在してもかまいません。
以下のセルでは、数値と文字列が混在しています。

In [4]:
numbers_fruits = [10, 'apple', 20, 'banana', 30]
numbers_fruits

[10, 'apple', 20, 'banana', 30]

次のように、何も要素を格納していないリスト（**空リスト**）を作成できます。
空リストはプログラム実行の途中結果を記録する場合などによく使われています。
具体的な例については、後述する `append` メソッドの項を参照してください。

In [5]:
empty=[]
empty

[]

なお、`[]` を用いて空リストを作成するたびに、
常に新しいオブジェクト（それまでに作られたオブジェクトとは同一でないオブジェクト）が生成されます。
詳しくは「▲オブジェクトの等価性と同一性」を参照してください。

## リストとインデックス
文字列の場合と同様に、インデックスを指定してリストの要素を取り出せます。
リストの `x` 番目の要素を取得するには次のような記法を用います。
インデックスは 0 から始まることに注意してください。

```Python
リスト[x-1]
```

In [6]:
abcd = ['a', 'b', 'c', 'd']
abcd[2]

'c'

文字列の場合とは異なり、リストは変更可能なデータです。
すなわちインデックスで指定されるリストの要素は、代入によって変更できます。

In [7]:
abcd = ['a', 'b', 'c', 'd']
abcd[2] = 'hello'
abcd

['a', 'b', 'hello', 'd']

文字列と同様に、スライスを使った範囲指定も可能です。

In [8]:
abcd = ['a', 'b', 'c', 'd']
abcd[1:3]

['b', 'c']

In [9]:
abcd = ['a', 'b', 'c', 'd']
abcd[0:4:2]

['a', 'c']

リストのスライスに対しては、代入も可能です。

In [11]:
abcd = ['a', 'b', 'c', 'd']
abcd[1:3] = ['x', 'y', 'z']
abcd

['a', 'x', 'y', 'z', 'd']

## 練習
リスト `ln` を引数として取り、`ln` の偶数番目のインデックスの値を削除したリストを返す関数 `remove_evenindex` を作成してください（ただし、0 は偶数として扱うものとします）。

ヒント：スライスを使います。

以下のセルの `...` のところを書き換えて `remove_evenindex(ln)` を作成してください。

In [25]:
def remove_evenindex(ln):
    ln2 = ln[1::2]
    return ln2

上のセルで解答を作成した後、以下のセルを実行し、実行結果が全て `True` になることを確認してください。

In [26]:
print(remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g']) == ['b', 'd', 'f'] )
print(remove_evenindex([1, 2, 3, 4, 5]) == [2, 4])

True
True

## **多重リスト**
リストの要素としてリストを指定することもできます。
リストを要素とするリストは多重リストと呼ばれます。
次は二重リストの例です。

In [28]:
lns = [[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']]

多重リストの要素指定は複数のインデックスで行います。
前の例で外側の `[]` で示されるリストの2番目の要素のリスト、
すなわち `[10, 20, 30]` の最初の要素は次のように指定します。

In [29]:
lns[1][0]

10

3番目のリストそのものを取り出したいときは、次のように指定します。

In [30]:
lns[2]

['a', 'b', 'c']

以下のようにリストの要素として、リストを値とする変数を指定することもできます。

In [31]:
lns2 = [lns, ['x', 1, [11, 12, 13]], ['y', [100, 120, 140]] ]
lns2

[[[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']],
 ['x', 1, [11, 12, 13]],
 ['y', [100, 120, 140]]]

In [32]:
lns2[0]

[[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']]

## リストに対する関数・演算子・メソッド

### リストの要素数

組み込み関数 **`len`** はリストの長さ、すなわち要素数、を返します。

In [33]:
numbers = [0, 10, 20, 30, 40, 50]
len(numbers)

6

### 練習

英語の１文からなる文字列 `str_engsentence` が引数として与えられたとき、`str_engsentence` 中に含まれる単語数を返す関数 `count_words` を作成してください。ただし、文はピリオドで終了し単語は空白で区切られるものとします。

ヒント：文字列に対する `split` メソッドを使います。

以下のセルの `...` のところを書き換えて `count_words(str_engsentence)` を作成してください。

In [35]:
def count_words(str_engsentence):
    words = str_engsentence.split(' ')
    return len(words)

上のセルで解答を作成した後、以下のセルを実行し、実行結果が `True` になることを確認してください。

In [36]:
print(count_words('From Stettin in the Baltic to Trieste in the Adriatic an iron curtain has descended across the Continent.') == 18)

True

### `max` と `min`

リストを引数とする関数は色々とあります。
関数 **`max`** は、数のリストが与えられると、その中の最大値を返します。
同様に関数 **`min`** はリストの中の最小値を返します。

In [37]:
numbers = [30, 50, 10, 20, 40, 60]
max(numbers)

60

In [38]:
numbers = [30, 50, 10, 20, 40, 60]
min(numbers)

10

`max` と `min` は文字列のリストに対しても適用できます。文字列の比較は、いわゆる辞書順で行われます。

In [41]:
characters = ['e', 'd', 'a', 'c', 'f', 'b']
min(characters)

'a'

### `sum`

関数 **`sum`** は、数のリストが与えられると、その要素の総和を返します。

In [42]:
numbers = [30, 50, 10, 20, 40, 60]
sum(numbers)

210

In [43]:
sum([])

0

### リストと演算子

演算子 **`+`** によってリストの連結、**`*`** によって連結における繰り返し回数を指定することができます。

In [44]:
numbers = [0, 10, 20, 30, 40, 50]
numbers + ['a', 'b', 'c']

[0, 10, 20, 30, 40, 50, 'a', 'b', 'c']

In [46]:
numbers*3

[0, 10, 20, 30, 40, 50, 0, 10, 20, 30, 40, 50, 0, 10, 20, 30, 40, 50]

要素が全て同じ値（たとえば、`0` ）のリストを作る最も簡単な方法は、この `*` 演算子を使う方法です。

In [47]:
zero10 = [0] * 10
zero10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

`*` は `+` を繰り返し行うのと同じ結果を返します。
たとえば、`x*3` は `x+x+x` と同じ結果を返します。

`x` が多重リストのとき、`x` の要素であるリストが `y` の中に複数回現れます。

In [48]:
x = [[0, 1], [2, 3]]
y = x*3
y

[[0, 1], [2, 3], [0, 1], [2, 3], [0, 1], [2, 3]]

このとき、`x` の要素が変更されると、`y` の中では複数箇所に変化が起こるので、注意してください。

In [49]:
x[0][0] = 99
y

[[99, 1], [2, 3], [99, 1], [2, 3], [99, 1], [2, 3]]

これは、`y` の中の複数個所にあるオブジェクトが同一だからです。
詳しくは、以下の「▲オブジェクトの等価性と同一性」を参照してください。

演算子 **`in`** は、左辺の要素がリストに含まれれば `True` を、それ以外では `False` を返します。

In [50]:
10 in numbers

True

リストに対する `in` 演算子は、論理演算 `or` を簡潔に記述するのに用いることもできます。 たとえば、

---
```Python
a1 == 1 or a1 == 3 or a1 == 7:
```
---

は

---
```Python
a1 in [1, 3, 7]:
```
---

と同じ結果を得られます。 `or` の数が多くなる場合は、`in` を用いた方がより読みやすいプログラムを書くことができます。

In [51]:
a1 = 1
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])
a1 = 3
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])
a1 = 5
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])

True True
True True
False False

`in` 演算子は、左辺の要素がリストに含まれるかどうかを、
リストの要素を最初から順に調べることで判定しています。
したがって、リストの長さに比例した時間がかかります。
つまり、リストの長さが大きければ、それなりの時間がかかることに注意してください。

**`not in`** 演算子は、`in` 演算子の逆を意味します。

In [52]:
10 not in numbers

False

In [53]:
11 not in numbers

True

### 指定した要素のインデックス取得と数えあげ

**`index`** メソッドは引数で指定した要素のインデックスの番号を返します。
文字列には `index` に加えてこれと似た `find` メソッドもありましたが、リストでは使えません。

In [54]:
numbers = [0, 10, 20, 30, 40, 50]
numbers.index(20)

2

**`count`** メソッドは指定した要素の数を返します。

In [55]:
all20 = [20]*3
all20.count(20) # 指定した要素のリスト内の数

3

### 並べ替え（**`sort`** メソッド）

`sort` メソッドはリスト内の要素を並べ替えます。
引数に何も指定しなければ昇順でとなります。

In [57]:
numbers = [30, 50, 10, 20, 40, 60]
numbers.sort()

In [ ]:
numbers

In [60]:
chracters = ['e', 'd', 'a', 'c', 'f', 'b']
chracters.sort()
chracters

['a', 'b', 'c', 'd', 'e', 'f']

`reverse = True` オプションを指定すれば、要素を降順に並べ替えることもできます。
（これは 3.3 のキーワード引数と呼ばれるものですが、ここでは天下り的に、
並べ替えの方法を指定する情報と理解しておいてください。）

In [61]:
numbers = [30, 50, 10, 20, 40, 60]
numbers.sort(reverse = True)
numbers

[60, 50, 40, 30, 20, 10]

### 並べ替え（**`sorted`** 組み込み関数）

関数 `sorted` ではリストを引数に取って、そのリスト内の要素を昇順に並べ替えた結果をリストとして返します。

---
```Python
sorted(リスト)
```
---

In [ ]:
numbers = [30, 50, 10, 20, 40, 60]
sorted(numbers)

文字列の比較は、いわゆる辞書順で行われます。

In [ ]:
characters = ['e', 'd', 'a', 'c', 'f', 'b']
sorted(characters)

`sorted` においても、 `reverse = True` と記述することで要素を降順に並べ替えることができます。

In [63]:
numbers = [30, 50, 10, 20, 40, 60]
sorted(numbers, reverse=True)

[60, 50, 40, 30, 20, 10]

ついでですが、多重リストをソートするとどのような結果が得られるか確かめてみてください。

In [62]:
lns = [[20, 5], [10, 30], [40, 20], [30, 10]]
lns.sort()
lns

[[10, 30], [20, 5], [30, 10], [40, 20]]

## 破壊的（インプレース）な操作と非破壊的な生成

上記では、`sort` メソッドと `sorted` 関数を紹介しましたが、両者の使い方が異なることに気が付きましたか？

具体的には、` sort` メソッドでは元のリストが変更されています。
一方、`sorted` 関数では元のリストはそのままになっています。もう一度確認してみましょう。

In [64]:
numbers = [30, 50, 10, 20, 40, 60]
numbers.sort()
print('sortメソッドの実行後の元のリスト:', numbers)
numbers = [30, 50, 10, 20, 40, 60]
sorted(numbers)
print('sorted関数の実行後の元のリスト:', numbers)

sortメソッドの実行後の元のリスト: [10, 20, 30, 40, 50, 60]
sorted関数の実行後の元のリスト: [30, 50, 10, 20, 40, 60]

このように、`sort` メソッドは元のリストを変更してしまいます。
このような操作を**破壊的**あるいは**インプレース** (**in-place**) であるといいます。

一方、`sorted` 関数は新しいリストを生成し元のリストを破壊しません、このような操作は**非破壊的**であるといいます。

`sorted` 関数を用いた場合、その返値（並べ替えの結果）は新しい変数に代入して使うことができます。  

一方、`sort` メソッドはリストを返さないためそのような使い方はできません。

In [ ]:
numbers = [30, 50, 10, 20, 40, 60]
numbers1 = sorted(numbers)
print('sorted関数の返値:', numbers1)

numbers = [30, 50, 10, 20, 40, 60]
numbers2 = numbers.sort()
print('sortメソッドの返値:', numbers2)

## リストを操作するメソッドなど

ここからはリストを操作するためのメソッドなどを紹介していきます。

メソッドや組み込み関数が破壊的であるかどうかは、一般にその名称などからは判断できません。
それぞれ破壊的かどうか理解してから利用しなければなりません。

なお、次の `append` メソッド以外は、必要に応じて参照すればよく、
それ以降タプルの項まで飛ばして構いません。

### リストに要素を追加する

**`append`** メソッドはリストの最後尾に指定した要素を付け加えます。

---
```Python
リスト.append(追加する要素) 
```
---

In [65]:
numbers = [10, 20, 30, 40, 50]
numbers.append(100)
numbers

[10, 20, 30, 40, 50, 100]

`append` は、上述した空のリストと組み合わせて、あるリストから特定の条件を満たす要素のみからなる新たなリストを構成する、というような状況でしばしば用いられます。たとえば、リスト `numbers1 = [10, -10, 20, 30, -20, 40, -30]` から `0` より大きい要素のみを抜き出したリスト `positives` は次のように構成することができます。

In [66]:
numbers1 = [10, -10, 20, 30, -20, 40, -30] 
positives = [] # 空のリストを作成する
positives.append(numbers1[0])
positives.append(numbers1[2])
positives.append(numbers1[3])
positives.append(numbers1[5])
positives

[10, 20, 30, 40]

### ▲リストにリストの要素を追加する

 **`extend`** メソッドはリストの最後尾に指定したリストの要素を付け加えます。

---
```Python
リスト.extend(追加するリスト) 
```
---

In [68]:
numbers = [10, 20, 30, 40, 50]
numbers.extend([200, 300, 400, 200]) # numbers += [200, 300, 400, 200] と同じ
numbers

[10, 20, 30, 40, 50, 200, 300, 400, 200]

### ▲リストに要素を挿入する

**insert** メソッドはリストのインデックスを指定した位置に新しい要素を挿入します。  

---
```Python
リスト.insert(インデックス, 新しい要素)
```
---

In [69]:
numbers = [10, 20, 30, 40, 50]
numbers.insert(1, 1000)
numbers

[10, 1000, 20, 30, 40, 50]

### ▲リストから要素を削除する

**`remove`** メソッドは指定した要素をリストから削除します。  

---
```Python
リスト.remove(削除したい要素)
```
---

ただし、指定した要素が複数個リストに含まれる場合、一番最初の要素が削除されます。また、指定した値がリストに含まれない場合はエラーとなります。

In [70]:
numbers = [10, 20, 30, 40, 20] 
numbers.remove(30) # 指定した要素を削除
numbers

[10, 20, 40, 20]

In [71]:
numbers.remove(20) # 指定した要素が複数個リストに含まれる場合、一番最初の要素を削除
numbers

[10, 40, 20]

In [72]:
numbers.remove(100) # リストに含まれない値を指定するとエラー

ValueError: ignored

### ▲リストからインデックスで指定した要素を削除する

**`pop`** メソッドはリストから指定したインデックスを削除し、その要素を返します。

---
```Python
リスト.pop(削除したい要素のインデックス)
```
---

In [73]:
numbers = [10, 20, 20, 30, 20, 40]
print(numbers.pop(3))
print(numbers)

30
[10, 20, 20, 20, 40]

インデックスを指定しない場合、最後尾の要素を削除して返します。

---
```Python
リスト.pop()
```
---

In [74]:
ln = [10, 20, 30, 20, 40]
print(ln.pop())
print(ln)

40
[10, 20, 30, 20]

### ▲リスト要素を削除する

**`del`** 文は指定するリストの要素を削除します。具体的には以下のように削除したい要素をインデックスで指定します。  
`del` も破壊的であることに注意してください。

---
```Python
del リスト[x]
```
---

In [76]:
numbers = [10, 20, 30, 40, 50]
del numbers[2]
numbers

[10, 20, 40, 50]

スライスを使うことも可能です。

---
```Python
del リスト[x:y]
```
---

In [77]:
numbers = [10, 20, 30, 40, 50]
del numbers[2:4]
numbers

[10, 20, 50]

### ▲リストの要素を逆順にする

**`reverse`** メソッドはリスト内の要素の順序を逆順にします。

In [79]:
characters = ['e', 'd', 'a', 'c', 'f', 'b']
characters.reverse()
characters

['b', 'f', 'c', 'a', 'd', 'e']

### ▲ **`copy`**
リストを複製します。
すなわち、`ln` の値がリストであるとき、`ln.copy()` は `ln` と同じ長さのリストを新たに作って、
`ln` の要素を新しいリストに同じ順番で格納して、その新しいリストを返します。

複製されたリストに変更を加えたとしても、もとのリストは影響を受けません。

In [80]:
numbers = [10, 20, 30, 40, 50]
numbers2 = numbers.copy()
del numbers[1:3]
numbers.reverse()
print(numbers)
print(numbers2)

[50, 40, 10]
[10, 20, 30, 40, 50]

一方、代入を用いた場合には影響を受けることに注意してください。

In [81]:
numbers = [10, 20, 30, 40, 50]
numbers2 = numbers
del numbers[1:3]
numbers.reverse()
print(numbers)
print(numbers2)

[50, 40, 10]
[50, 40, 10]

## タプル (tuple)

**タプル**は、リストと同じようにデータの並びであり、あらゆる種類のデータを要素にできます。
ただし、リストと違ってタプルは一度設定した要素を変更できません（文字列も同様でした）。
すなわち、タプルは変更不可能なデータです。
したがって、リストの項で説明したメソッドの多く、要素を操作するもの、は適用できないのですが、
逆にいうと、作成した後で要素を変更する必要がない場合は、
タプルの方が実装の効率がよいので、リストよりもタプルを使うべきです。

たとえば、関数が複数の値をリストにして返し、呼び出し側がすぐにリストをばらばらにして値を取り出すような場合は、
リストよりもタプルを使うべきです。
また、平面上の点を表そうとするとき、x座標とy座標を別々に変化させる必要がなければ、
`(3, 5)` のようなタプルを使うのが自然です。
このように、タプルを作成するには数学におけるのと同様に要素を丸括弧 `(...)` で囲みます。

例を見ましょう。

In [82]:
x = 3
y = 5
point = (x, y)

In [83]:
point

(3, 5)

In [85]:
type(point)

tuple

In [84]:
numbers3 = (1, 2, 3)
numbers3

(1, 2, 3)

実は、丸括弧なしでもタプルを作成できます。

In [86]:
numbers3 = 1,2,3
numbers3

(1, 2, 3)

要素が1つだけの場合は、 `t = (1)` ではなく、次のようにします。

In [87]:
onlyone = (1,)
onlyone

(1,)

`t = (1)` だと、`t = 1` と同じになってしまいます。

In [88]:
onlyone = (1)
onlyone

1

何も要素を格納していないタプル（**空タプル**）は `()` で作成できます。

In [89]:
empty = ()
empty

()

リストや文字列と同様に、インデックスや組み込み関数を使った操作が可能です。

In [91]:
numbers3 = (1, 2, 3)
numbers3[1] # インデックスの指定による値の取得

2

In [90]:
len(numbers3) # lenはタプルを構成する要素の数

3

In [94]:
numbers3[1:3] # スライス

(2, 3)

上述しましたが、一度作成したタプルの要素を後から変更することはできません。
したがって以下のプログラムはエラーとなります。

---
```Python
numbers3 = (1, 2, 3)
numbers3[1] = 5
```

組み込み関数 **`list`** を使って、タプルをリストに変換できます。
（`list` はリストのデータ型でもあります。）

In [95]:
numbers3 = (1, 2, 3)
list(numbers3)

[1, 2, 3]

組み込み関数 **`tuple`** を使って、逆にリストをタプルに変換できます。
（`tuple` はタプルのデータ型でもあります。）

In [96]:
numbers2 = [1, 2]
tuple(numbers2)

(1, 2)

## 練習
整数の要素からなるリスト `ln` を引数として取り、
`ln` に含まれる要素を逆順に格納したタプルを返す関数 `reverse_totuple` を作成してください。

以下のセルの `...` のところを書き換えて `reverse_totuple(ln)` を作成してください。

In [116]:
def reverse_totuple(ln):
    ln.reverse()
    tup = tuple(ln)
    return tup

上のセルで解答を作成した後、以下のセルを実行し、実行結果が `True` になることを確認してください。

In [117]:
print(reverse_totuple([1, 2, 3, 4, 5]) == (5, 4, 3, 2, 1))

True

## 多重代入
**多重代入**では、左辺に複数の変数などを指定してタプルやリストの全ての要素を一度の操作で代入することができます。

In [118]:
numbers = [0, 10, 20, 30, 40]
[a, b, c, d, e] = numbers
b

10

以下のようにしても同じ結果を得られます。

In [119]:
a, b, c, d, e = numbers
b

10

多重代入は文字列に対しても実行可能です。

In [120]:
a, b, c, d, e = 'hello'
d

'l'

タプルに対しても実行可能です。

In [121]:
numbers3 = (1, 2, 3)
(x,y,z) = numbers3
y

2

以下のように様々な書き方が可能です。

In [122]:
x,y,z = numbers3
print(y)
(x,y,z) = (1, 2, 3)
print(y)
x,y,z = (1, 2, 3)
print(y)
(x,y,z) = 1, 2, 3
print(y)
x,y,z = 1, 2, 3
print(y)

2
2
2
2
2

多重代入を使うことで、2つの変数に格納された値の入れ替えを行う手続きはしばしば用いられます。

In [ ]:
x = 'apple'
y = 'pen'
x, y = y, x 
print(x, y) #w = x; x = y; y = w と同じ結果が得られる

## リストやタプルの比較演算
数値などを比較するのに用いた比較演算子を用いて、2つのリストやタプルを比較することもできます。

In [123]:
print([1, 2, 3] == [1, 2, 3])
print([1, 2] == [1, 2, 3])

True
False

In [124]:
print((1, 2, 3) == (1, 2, 3))
print((1, 2) == (1, 2, 3))

True
False

In [125]:
print([1, 2, 3] != [1, 2, 3])
print([1, 2] != [1, 2, 3])

False
True

In [126]:
print((1, 2, 3) != (1, 2, 3))
print((1, 2) != (1, 2, 3))

False
True

大小の比較は、いわゆる辞書式による比較で、リストやタプルの最初の要素から順に比較して大小を決めます。
片方がもう片方を拡張したものであれば、拡張した方を大きいとします。

In [127]:
print([1, 2, 3] <= [1, 2, 3])
print([1, 2, 3] < [1, 2, 3])
print([1, 2, 3] < [1, 2, 4])
print([1, 2] < [1, 2, 3])

True
False
True
True

In [128]:
print((1, 2, 3) <= (1, 2, 3))
print((1, 2, 3) < (1, 2, 3))
print((1, 2, 3) < (1, 2, 4))
print((1, 2) < (1, 2, 3))

True
False
True
True

## for文による繰り返しとリスト・タプル

きまった操作の繰り返しはコンピュータが最も得意とする処理のひとつです。
リストのそれぞれの要素にわたって操作を繰り返したい場合は**for文**を用います。

リスト `ls` の要素全てに対して、`実行文` を繰り返すには次のように書きます。

---
```Python
for value in ls:
    実行文
```
---

`for` で始まる行の `in` の後に処理対象となるリスト `ls` が、`in` の前に変数 `value` が書かれます。

`ls` の最初の要素、すなわち `ls[0]` が `value` に代入され `実行文` が処理されます。
`実行文` の処理が終われば、`ls` の次の要素が `value` に代入され、処理が繰り返されます。
このようにして、`ls` の要素に対する処理が `len(ls)` 回繰り返されると、for文の処理が終了します。　

ここでの `in` の働きは、先に説明したリスト要素の有無を検査する `in` とは異なることに、
そして、if文と同様、 `実行文` の前にはスペースが必要であることに注意してください。

次に具体例を示します。
3つの要素を持つリスト `ls` から1つずつ要素を取り出し、変数 `value` に代入しています。
`実行文` では `value` を用いて取り出した要素を参照しています。

In [129]:
ls = [0,1,2]

for value in ls:
    print('For loop:', value)

For loop: 0
For loop: 1
For loop: 2

`in` の後に直接リストを記述することもできます。

In [130]:
for value in [0,1,2]:
    print('For loop:', value)

For loop: 0
For loop: 1
For loop: 2

`実行文` の前にスペースがないとエラーが出ます。

In [131]:
for value in  [0,1,2]:
print('For loop:', value)

IndentationError: ignored

エラーが出れば意図した通りにプログラムが組めていないのにすぐ気が付きますが、
エラーが出ないために意図したプログラムが組めていないことに気が付かないことがあります。
たとえば、次のような内容を実行しようとしていたとします。

In [132]:
for value in  [0,1,2]:
    print('During for loop:', value)
    print('During for loop, too:', value)

During for loop: 0
During for loop, too: 0
During for loop: 1
During for loop, too: 1
During for loop: 2
During for loop, too: 2

後者の `print` の行のスペースの数が間違ってると、次のような結果になる場合がありますので注意してください。

In [133]:
for value in [0,1,2]:
    print('During for loop:', value)
print('During for loop, too:', value) #この行のスペースの数が間違っていたがエラーは出ない

During for loop: 0
During for loop: 1
During for loop: 2
During for loop, too: 2

タプルの要素にまたがる処理もリストと同様に行えます。

In [134]:
for value in (0,1,2):
    print('For loop:', value)

For loop: 0
For loop: 1
For loop: 2

以下はリストに対するfor文の典型例です。`numbers` は数のリストとします。

In [135]:
numbers = [0,1,2,3,4,5]

以下のようにして、このリストの要素の自乗から成るリストを求めることができます。

In [136]:
squares1 = []
for x in numbers:
    squares1.append(x**2)
squares1

[0, 1, 4, 9, 16, 25]

`squares1` には最初に空リストが代入されます。
そして、`numbers` の各要素の自乗がこのリストに次々と追加されます。

## 練習
整数の要素からなるリスト `ln` を引数として取り、`ln` の要素の総和を返す関数 `sum_list` を作成してください。

以下のセルの `...` のところを書き換えて `sum_list(ln)` を作成してください。

In [142]:
def sum_list(ln):
    value = 0
    for i in ln:
      value += i
    return value

上のセルで解答を作成した後、以下のセルを実行し、実行結果が全て True になることを確認してください。

In [143]:
print(sum_list([10, 20, 30]) == 60)
print(sum_list([-1, 2, -3, 4, -5]) == -3)

True
True

##  for文による繰り返しと文字列

for文を使うと文字列全体にまたがる処理も可能です。
文字列 `str1` をまたがって一文字ずつの繰り返し処理を行う場合は次のように書きます。
ここで、`c` には取り出された一文字（の文字列）が代入されています。

---
```Python
for c in str1:
    実行文
```
---

`str1` で与えられる文字列を一文字ずつ大文字で出力する処理は以下のようになります。

In [144]:
str1 = 'Apple and pen'
for c in str1:
    print(c.upper())

A
P
P
L
E

A
N
D

P
E
N

## 練習

ATGCの4種類の文字から成る文字列 `str_atgc` が引数として与えられたとき、次のようなリスト `list_count` を返す関数 `atgc_countlist` を作成してください。ただし、 `list_count` の要素は、各塩基 `bp` に対して `str_atgc` 中の `bp` の出現回数と `bp` の名前を格納した（長さ2の）リストとします。

ヒント：文字列 `'ATGC'` に対する繰り返しを用いることができます。

以下のセルの `...` のところを書き換えて `atgc_countlist(str_atgc)` を作成してください。

In [161]:
def atgc_countlist(str_atgc):
  return_list = []
  for bp in 'ATGC':
    count_bp = str_atgc.count(bp)
    return_list.append([count_bp, bp])
  return return_list

上のセルで解答を作成した後、以下のセルを実行し、実行結果が `True` になることを確認してください。

In [162]:
print(sorted(atgc_countlist('AAGCCCCATGGTAA')) == sorted([[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]))

True

## for文によるリスト初期化の短縮記法

先に、リストの要素の自乗から成るリストを求める例を説明しました。

In [148]:
numbers = [0,1,2,3,4,5]

squares1 = []
for x in numbers:
    squares1.append(x**2)
squares1

[0, 1, 4, 9, 16, 25]

詳しくは6-1で説明されますが、**内包表記**を用いて書き換えると、以下のように1行で書くことができます。

In [149]:
squares2 = [x**2 for x in numbers]
squares2

[0, 1, 4, 9, 16, 25]

すなわち、
```Python
[x を含む式 for x in リストを返す式]
```
という式は、"リストを返す式" が返したリストの各要素を `x` に代入して "`x` を含む式" を計算し、
その結果をリストにして返します。
もちろん、変数は `x` でなくてもよいです。

In [150]:
[y**2 for y in numbers]

[0, 1, 4, 9, 16, 25]

## ▲オブジェクトの等価性と同一性

1-3で、Pythonにおける値はオブジェクトと総称されますと述べました。
ここでは、オブジェクトの等価性と同一性について説明します。

既に見てきたように、演算子 `==` を用いて**オブジェクトの等価性**を判定できます。

In [165]:
a = []
b = []

このとき、`a` と `b` の値はどちらも空リストなので、以下のように `a` の値と `b` の値は等価です。

In [166]:
a == b

True

しかし、`[`  で始まり `]` で終わる式を評価すると、
必ず新しいリスト（オブジェクト）が作られて返されるので、
`a` と `b` の値は同一ではありません。

**オブジェクトの同一性**は演算子 **`is`** を用いて判定できます。

In [168]:
a is b

False

リストの要素はオブジェクトなので、要素ごとに等価性と同一性が定まります。

例として、`a` と `b` を要素とするリスト `c` を作ります。

In [169]:
c = [a, b]
c

[[], []]

In [170]:
c[0] is c[1]

False

`a` を変化させてみましょう。

In [171]:
a.append(1)
a

[1]

すると `c` は以下のようになります。

In [172]:
c

[[1], []]

ここで、`a` と `b` は等価でなくなりました。

In [173]:
a == b

False

次に、`b` を要素として二重に含むリスト `d` を作ります。

In [174]:
d = [b, b]
d

[[], []]

In [175]:
d[0] is d[1]

True

`b` を変化させてみましょう。

In [176]:
b.append(1)
b

[1]

すると `d` は以下のようになります。

In [177]:
d

[[1], [1]]

演算子 `==` でリストを比較すると、要素まで見て等価性を判定します。

In [178]:
print(a, b)
a == b

[1] [1]

True

演算子 `==` は、要素の比較も `==` で行います。

In [179]:
print(c, d)
c == d

[[1], [1]] [[1], [1]]

True

一方、オブジェクトの同一性は変化しません。

In [180]:
a is b

False

`==` の否定形は `!=` で、`is` の否定形は **`is not`** です。
`not x == y` は `x != y` と書けます。`not x is y` は `x is not y` と書けます。
`is not` はこれで1つの演算子なので注意してください。

In [181]:
c != d

False

In [182]:
a is not b

True

## 練習の解答

In [ ]:
def remove_evenindex(ln):
    ln2 = ln[1::2]
    return ln2
#remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [ ]:
def count_words(str_engsentences):
    list_str1 = str_engsentences.split(' ')
    return len(list_str1)
#count_words('From Stettin in the Baltic to Trieste in the Adriatic an iron curtain has descended across the Continent.')

In [ ]:
def reverse_totuple(ln):
    ln.reverse()
    tup = tuple(ln)
    return tup
#reverse_totuple([1, 2, 3, 4, 5])

In [ ]:
def sum_list(ln):
    int_sum = 0
    for value in ln:
        int_sum += value
    return int_sum
#sum_list([10, 20, 30])

In [ ]:
def atgc_countlist(str_atgc):
    list_count = []
    for value in 'ATGC':
        int_bpcnt = str_atgc.count(value)
        list_count.append([int_bpcnt, value])
    return list_count
#atgc_countlist('AAGCCCCATGGTAA')